<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Prognowowanie cen nieruchomości</title>
</head>
<body>
    <h1>Wprowadź dane nieruchomości</h1>
<form action="/" method="POST">
    <table>
        <tr><td>MedInc: <td><input type="number" name="MedInc" required><br>
        <tr><td>HouseAge: <td><input type="number" name="HouseAge" required><br>
        <tr><td>AveRooms: <td><input type="number" name="AveRooms" required><br>
        <tr><td>AveBedrms: <td><input type="number" name="AveBedrms" required><br>
        <tr><td>Population: <td><input type="number" name="Population" required><br>
        <tr><td>AveOccup: <td><input type="number" name="AveOccup" required><br>
        <tr><td>Latitude: <td><input type="number" name="Latitude" required><br>
        <tr><td>Longitude: <td><input type="number" name="Longitude" required><br>
        <tr><td><td><button type="submit">Prognocuj cenę</button>
    </table>
</form>
</body>
</html>